body {
  font-family: "Red Hat Display";
  font-weight: 500;
  font-size: 1.5rem;
  padding: 80px;
}
html {
  background-color: hsl(225, 100%, 94%);
  background-image: url(../Aula_3/Desafio/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

p {
  padding: 0px 100px;
}
h1 {
  font-size: 3rem;
  text-align: center;
}



.conteudo {
  margin-top: 10px;
  
  width: 50%;
  margin: auto ;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 5px 5px hsla(223, 47%, 23%, 0.425);
}
.conteudo img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.plano {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 100px;
}
.plano {
  background: hsl(225, 100%, 98%);
  border-radius: 10px;
}
.plano1 {
  display: flex;
  gap: 20px;
}

.plano img {
  width: 100px;
}
.planoAnual h1 {
  color: hsl (225, 100%, 94%);
}

.botao {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.btAzul {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 10px;
  border-style: none;
  background: hsl(245, 75%, 52%);
  box-shadow: 0 3px 5px hsl(223, 47%, 23%);
  text-transform: initial;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.btBranco {
  background: hsla(224, 23%, 55%, 0);
  border-style: none;
  padding: 30px 50px;
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(224, 23%, 55%);
}

.btAzul:hover {
  background: hsl(224, 23%, 55%);
}
a:hover {
  text-decoration: none;
}
.btBranco:hover {
  color: hsl(223, 47%, 23%);
}

.corClara {
  color: hsl(224, 23%, 55%);
}

footer{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:1200px){
.plano{
  display: flex;
  flex-direction: column;
} 
.conteudo {
  margin-top: 10px;
  width: 100vw;
 
}
}